#!/usr/bin/env bash

set -x

## Setting variables
AWS_DEFAULT_REGION=$(curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone 2>/dev/null | head -c -1)
AWS_AVAILABILITY_ZONE=$(curl -s http://169.254.169.254/latest/meta-data/placement/availability-zone)
AWS_ACCOUNT_ID=$(curl -s http://169.254.169.254/latest/meta-data/identity-credentials/ec2/info | grep AccountId | awk '{print $3}' | tr -d '"')
LOCAL_IPV4=$(curl -s http://169.254.169.254/latest/meta-data/local-ipv4)
LOCAL_HOSTNAME=$(curl -s http://169.254.169.254/latest/meta-data/local-hostname)
INSTANCE_TYPE=$(curl -s http://169.254.169.254/latest/meta-data/instance-type)

sudo amazon-linux-extras install nginx1 -y

sudo systemctl restart nginx
