#!/usr/bin/env bash

set -ex

sudo curl -L "https://github.com/docker/compose/releases/download/1.27.3/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
sudo chmod +x /usr/local/bin/docker-compose

cat <<EOF > /tmp/docker-compose.yaml
version: '3'
services:
  web:
    image: "jibakurei/challenge5"
    ports:
      - "80:80"
EOF

cd /tmp
sudo docker-compose up -d
